html
  head
    title= title
    script(src="js/script.js" type="text/javascript")
    link(href="css/style.css" rel="stylesheet")
  body.bkimg
    if user
      div.welcomebox
        h1 Welcome, #{user}!
    else
      div.loginbox
        h1 Please Sign-in!
          form(name="login", action="/sign-in", method="post")
            input(type="text", name="userName")
            button Submit